!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Course</title>
    <link href="{% static 'payments.styles.css'%}">
</head>
<body>
    <nav>
    <ul>
        <li><a href="{% url 'course_list' %}">Courses</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'make_payment'  %}">Payments</a></li>
    </ul>
    </nav>
    {% body block %}
    {% end block %}
</body>
</html>