{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Login Page{% end block %}</title>
    <link href="{% static 'users/styles.css' %}" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'course_list' %}">Courses</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="#">Payment</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
    {% block body %}
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    {% end block %}
</body>
</html>
